.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.texto-acerca-de{
    color: rgb(230, 230, 230);
    font-size: 25px;
    width: 800px;
    margin: auto;
   
}