.titulo{
    font-size: 40px;
    color: white;
    padding: 50px;
    }

.texto-acerca-de {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: white;
    
}
.dishes-container{
    text-align: center;
    border: 2px solid gray;

}



.dish-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid rgb(255, 202, 105);
    margin: 15px;
    width: 60%;
    border-radius: 10px;
    background: rgba(158, 36, 36, 0.418);
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: white;
       
}

@media screen and (max-width: 500px){
    .dish {
        font-size: 15px;
        font-weight:400;
    }
    .dish-card{
        border: 2px solid wheat;
        margin: 5px;
        width: 80%;
        border-radius: 2px;
        background:rgb(223, 174, 84);
    }
    .texto-acerca-de {
        
        width: 90%;
         font-size: 15px;
        }
.titulo{
    font-size: 30px;
       }}